body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em !important;
}

html, body {
  background: #fff;
}

.article-wrapper {
  margin-top: 4%;
}

.body-content {
  min-height: 800px;
}

.card-about {
  min-width: 450px;
}

.body-content {
  min-width: 800px;
}

.header-wrapper {
  margin-top: 1em;
}

.header-image {
  height: 125px;
  width: auto;
  float: left;
}

.header-name {
  font-size: 3em !important;
  margin-left: 20% !important;
}

.header-segment {
  display: flex;
  align-items: flex-end;
}

.menu-color {
  justify-content: flex-start;
  background-color: black;
}
